<div>
  <h1>Stupid Coach</h1>
  <p>Ask your coach a question:</p>
  <form action="/answer">
    <input type="text" name="question" placeholder="Type your question here">
    <input type="submit" class="btn">
  </form>
</div>
